* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: 0 !important;
}

html {
  background-color: #f5deb3;
}

main {
  padding: 35px;
}

.content-container {
  width: 900px;
  height: 500px;
  margin: 0 auto;
}

.table {
  background-image: url("../img/b9ea4e526fb0fc0fd8038ac713fbb881.jpg");
  width: 350px;
  height: 100%;
  border: 1px solid rgba(33, 33, 33, 0.3);
  border-radius: 20px;
  margin: auto;
  display: grid;
  grid-template-areas: "timerDisplay keyContainer" "checkerContainer tipsContainer ";
  grid-template-rows: 80px auto;
  grid-template-columns: 35% 65%;
  -webkit-box-shadow: 4px 3px 24px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 3px 24px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 3px 24px 1px rgba(0, 0, 0, 0.75);
}

.timerDisplay {
  grid-area: timerDisplay;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
}

.key-container {
  grid-area: keyContainer;
  height: 100%;
  width: 100%;
}

.key-row-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.key-row-container .keydot {
  height: 30px;
  width: 30px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: wheat;
  transition: 0.3s;
}

.check-row-container {
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.check-row-container .checkdot {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

option {
  color: transparent !important;
  font-size: 14px;
}

option[value=red] {
  background-color: red;
}

option[value=blue] {
  background-color: blue;
}

option[value=yellow] {
  background-color: yellow;
}

option[value=purple] {
  background-color: purple;
}

option[value=green] {
  background-color: green;
}

option[value=orange] {
  background-color: orange;
}

.msg-bg {
  position: fixed;
  background-color: rgba(230, 230, 230, 0.7);
  height: 98vh;
  width: 98vw;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  align-items: center;
  z-index: 2;
}

.danger {
  background-color: #fab4b4 !important;
  color: red !important;
  border: 1px solid red !important;
}

.msg-card {
  width: 300px;
  height: 150px;
  background-color: #c5ebc0;
  border: 1px solid green;
  border-radius: 3px;
  z-index: 3;
  left: 50%;
  position: absolute;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  transform: translate(-50%, -100%);
  top: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: green;
}
.msg-card h2 {
  text-align: center;
  padding-top: 15px;
}
.msg-card button {
  text-transform: uppercase;
  margin-top: 30%;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

#pauseTimer {
  display: none;
}

.tips-container {
  grid-area: tipsContainer;
  height: 100%;
  width: 99.5%;
  border-bottom-right-radius: 20px;
}

.checker-container {
  grid-area: checkerContainer;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 20px;
}

#checker {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 235px;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  background-color: #cd853f;
  text-transform: uppercase;
}

.box-shadow, .tip-row-container .tipdot, .past-tip-container .tipdot, .check-row-container .checkdot {
  -webkit-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.21);
}

.past-tip-container form {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.past-tip-container .tipdot {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tip-row-container {
  border: 1px solid black;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.tip-row-container .tipdot {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid black;
}

@media screen and (max-width: 992px) {
  #checker {
    width: 60vw;
    right: 50%;
    transform: translateX(-50%);
    margin: 0;
    bottom: 30px;
  }

  .content-container {
    width: 90vw;
  }

  main {
    padding: 0;
  }

  .table {
    width: 100%;
    margin-top: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
