// @font-face {
//   font-family: "Roboto";
//   src: url(../fonts/roboto/Roboto-Regular.ttf);
// }

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: 0 !important;
}

// for development
$border: 1px solid rgba(33, 33, 33, 0.3);
