@import "vars";

html {
  background-color: darkslategray;
}

main {
  padding: 40px;
}
.content-container {
  width: 900px;
  height: 550px;
  margin: 0 auto;
}
$tablewidth: 400px;
.table {
  width: $tablewidth;
  height: 100%;
  border: $border;
  border-radius: 20px;
  margin: auto;
  display: grid;
  grid-template-areas:
    ". keyContainer"
    "checkerContainer tipsContainer ";
  grid-template-rows: 80px auto;
  grid-template-columns: 35% 65%;
  -webkit-box-shadow: 4px 3px 24px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 3px 24px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 3px 24px 1px rgba(0, 0, 0, 0.75);
}
.key-container {
  grid-area: keyContainer;

  height: 100%;
  width: 100%;
}

.key-row-container {
  height: 100%;
  width: 100%;
  // opacity: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .keydot {
    height: 30px;
    width: 30px;
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }
}
.check-row-container {
  height: 45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .checkdot {
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 50%;
  }
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}
option {
  margin-top: 10px;
  padding-top: 10px;
}
option[value="red"] {
  background-color: red;
}
option[value="blue"] {
  background-color: blue;
}
option[value="yellow"] {
  background-color: yellow;
}
option[value="purple"] {
  background-color: purple;
}
option[value="green"] {
  background-color: green;
}
option[value="orange"] {
  background-color: orange;
}
.tips-container {
  grid-area: tipsContainer;

  height: 100%;
  width: 100%;
  // background-color: red;
  border-bottom-right-radius: 20px;
}
.checker-container {
  grid-area: checkerContainer;

  height: 100%;
  width: 100%;

  border-bottom-left-radius: 20px;
}
#checker {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-left: calc(($tablewidth/2) + 60px);
  width: 80px;
  height: 30px;
  border-radius: 2px;
  border: none;
}
.past-tip-container {
  form {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .tipdot {
    border: 1px solid gray;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.tip-row-container {
  // egyetlen
  border: $border;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .tipdot {
    border: $border;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    // background-color: red;
    background-color: transparent;
    border: 1px solid gray;
  }
}

@media screen and (max-width: 992px) {
  #checker {
    width: 100vw;
    left: 0px;
    margin-left: 0px;
    transform: translateX(0%);
    bottom: 0px;
  }
  .content-container {
    width: 90vw;
  }
  main {
    padding: 0;
  }
  .table {
    width: 100%;
    margin-top: 20px;
  }
}
